.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.gallery-container {
  margin-top: 12px;
  height: 90vh;
}

.link-a {
  & + & {
    margin-top: 8px;
  }
}

.link-b {
  margin-left: 8px;
}

.link-c {
  margin-left: 8px;
}

.link-container {
  margin-left: 8px;
  margin-top: 8px;
}

.link-b,
.link-c {
  margin-top: 8px;
}

.toggle {
  color: #333333;
}

.link-a,
.link-b,
.link-c {
  display: block;
  position: relative;
  color: #333333;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub,
.items {
  display: flex;
  flex-direction: column;
  position: relative;
  // overflow: hidden;
}

.header-title {
  color: #333333;
  font-size: 21px;

  span {
    color: #333333;
  }
}

.koreangry-link {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.external {
  border-top: 1px solid black;
  padding-top: 20px;
  margin-top: 20px;
}

.link {
  display: block;

  & + & {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .gallery-container {
    margin-top: 0;
  }

  .link-a {
    & + & {
      margin-top: 4px;
    }
  }

  .link + .link {
    margin-top: 4px;
  }

  .link {
    margin-top: 4px;
  }

  .link-b {
    margin-left: 4px;
  }

  .link-c {
    margin-left: 4px;
  }

  .link-container {
    margin-left: 4px;
    margin-top: 4px;
  }

  .link-b,
  .link-c {
    margin-top: 4px;
  }

  .external {
    margin-top: 8px;
    padding-top: 8px;
  }
}
