<div class="container">
  <div class="header">
    <a [routerLink]="['/']" class="home"><div class="header-title">Eunsoo Jeong</div></a>
    <div class="gallery-container" [ngClass]="{'active': toggleType}">
      <!-- <div [ngClass]="{'active': toggleType}" class="toggle-container">
        <a class="toggle">Animation</a><span class="arrow"></span>
      </div> -->
      <div class="sub">
        <!-- <div class="sub-container link-b">
          <div [ngClass]="{'active': sketchbookItems}" class="toggle-container" (click)="toggleSketchbook()">
            <a class="toggle">Sketchbook</a><span class="arrow"></span>
          </div>
          <div *ngIf="sketchbookItems" class="items">
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/sketchbook/2018']">2018</a>
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/sketchbook/2017']">2017</a>
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/sketchbook/2016']">2016</a>
          </div>
        </div> -->
        <!-- <a class="link-b" [routerLinkActive]="'active'" [routerLink]="['/work/backgrounds']">Backgrounds</a>
        <a class="link-b" [routerLinkActive]="'active'" [routerLink]="['/work/color-styling']">Color Styling</a> -->
        <div class="sub-container link-container">
          <div [ngClass]="{'active': bgItems}" class="toggle-container">
            <h4 class="toggle">Backgrounds</h4>
          </div>
          <div class="items">
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/animation/backgrounds/bg-sanjay']">Sanjay & Craig</a>
          </div>
        </div>
        <div class="sub-container link-container">
          <div [ngClass]="{'active': csItems}" class="toggle-container">
            <h4 class="toggle">Color Styling</h4>
          </div>
          <div class="items">
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/animation/color-styling/pinky']">Pinky Malinky</a>
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/animation/color-styling/cs-sanjay']">Sanjay & Craig</a>
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/animation/color-styling/shimmer']">Shimmer and Shine</a>
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/animation/color-styling/test']">Tests</a>
          </div>
        </div>
        <div class="sub-container link-container">
          <div [ngClass]="{'active': csItems}" class="toggle-container">
            <h4 class="toggle">Illustration</h4>
          </div>
          <div class="items">
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/illustration/childrens-book']">Childrens Books</a>
            <a class="link-c" [routerLinkActive]="'active'" [routerLink]="['/work/illustration/misc']">Misc</a>
          </div>
        </div>
        <div class="sub-container link-container koreangry">
          <h4 [ngClass]="{'active': toggleType}" class="toggle-container">
            <a class="toggle koreangry-link" [routerLinkActive]="'active'" [routerLink]="['/work/koreangry']">Koreangry</a>
          </h4>
        </div>
        <div class="sub-container link-container external">
            <h4>
              <a class="toggle link" target="_blank" href="mailto:jeongeunsoo@gmail.com">Email me</a>
              <a class="toggle link" target="_blank" href="https://www.instagram.com/madeinkorea1988">Instagram</a>
              <a class="toggle link" target="_blank" href="https://www.linkedin.com/in/eunsoojeong/">LinkedIn</a>
              <a class="toggle link" target="_blank" href="/assets/resume.pdf">Resume</a>
            </h4>
          </div>
      </div>
    </div>
    <!-- <a class="link-a" [routerLinkActive]="'active'" [routerLink]="['/about']">About</a>
    <a class="link-a" [routerLinkActive]="'active'" [routerLink]="['/contact']">Contact</a> -->
  </div>
</div>  
