.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  filter: invert(100%);
}

.gallery-container {
  margin-top: 12px;

  &.active {
    .sub {
      max-height: 115px;
    }
  }
}

.sub {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0.0, 0.0, 0.2, 1);

  &::after {
    height: 100%;
  }
}

.link-a {
  & + & {
    margin-top: 8px;
  }
}

.link-b {
  margin-left: 8px;
}

.link-c {
  margin-left: 8px;
}

.link-container {
  margin-left: 8px;
  margin-top: 8px;

  &.active {

    .items {
      max-height: 50px;
    }
  }
}

.link-b,
.link-c {
  margin-top: 8px;

  &::before {
    content: '';
    height: 10px;
    width: 10px;
    background: #5d3bc8;
    border-radius: 100%;
    position: absolute;
    bottom: 3px;
    left: -13px;
    transition: left 0.7s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &.active {
    &::before {
      left: calc(100% - 13px);
    }
  }
}

.toggle {
  color: #00a368;
}

.link-a,
.link-b,
.link-c {
  display: block;
  position: relative;
  color: #00a368;

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -8px;
    width: 0%;
    height: calc(100% - 7px);
    border-bottom: 1px solid #5d3bc8;
    pointer-events: none;
    transition: width 0.7s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &.active {
    &::after {
      width: 100%;
    }
  }
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &.active {
    
    .arrow {
      transform: rotate(180deg);
    }
  }
}

.arrow {
  width:0;
  border-bottom:solid 9px #5d3bc8;
  border-right:solid 7px transparent;
  border-left:solid 7px transparent;
  position: relative;
  left: 8px;
  transition: transform 0.7s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.sub,
.items {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 3px);
    border-left: 1px solid #5d3bc8;
    pointer-events: none;
  }
}

.items {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.7s cubic-bezier(0.0, 0.0, 0.2, 1);

  &::after {
    height: calc(100% - 9px);
    border-left: 1px solid #5d3bc8;
  }
}

.header-title {
  color: #00a368;
  font-size: 21px;

  span {
    color: #5d3bc8;
  }
}