.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.gallery-container {
  margin-top: 12px;
}

.link-a {
  & + & {
    margin-top: 8px;
  }
}

.link-b {
  margin-left: 8px;
}

.link-c {
  margin-left: 8px;
}

.link-container {
  margin-left: 8px;
  margin-top: 8px;
}

.link-b,
.link-c {
  margin-top: 8px;
}

.toggle {
  color: #333333;
}

.link-a,
.link-b,
.link-c {
  display: block;
  position: relative;
  color: #333333;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub,
.items {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.header-title {
  color: #333333;
  font-size: 21px;

  span {
    color: #333333;
  }
}