<div class="gallery-shrink" [ngClass]="{ expanded: galExpanded }"></div>
<div
  class="gallery"
  [ngClass]="{ expanded: galExpanded }"
  (click)="expandGallery()"
>
  <div class="intro">
    <div class="title">
      Eunsoo Jeong
    </div>
    <div class="description">
      Interdisciplinary Artist, Color Designer
    </div>
    <div class="description">
      <a
        class="description__email"
        href="mailto:jeongeunsoo@gmail.com"
        aria-label="Opens an email to Eunsoo jeong to get pw for protected parts of site."
        >Request the password</a
      >
      to access Archibald's Next Big Thing
    </div>
  </div>
  <div class="images" *ngFor="let image of images">
    <img class="image" [src]="image" alt="" />
  </div>
</div>
