.container {
  display: flex;
  position: relative;
}

.header {
  position: fixed;
  width: 170px;
  padding: 8px;
  z-index: 1;
}

.desktop {

}

.mobile {
  display: none;
}

.base {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 170px);
  z-index: 0;
}