<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Eunsoo Art</title>
  <base href="/">
  <meta name="description" content="Eunsoo Art">
  <meta property="og:title" content="Eunsoo Art">
  <meta property="og:description" content="Eunsoo Art">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="Eunsoo Art">
  <meta property="og:url" content="https://eunsoo.art">
  <meta property="og:type" content="website">
  <meta name="twitter:image" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Eunsoo Art">
  <meta name="twitter:description" content="Eunsoo Art">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="prerender-status-code" content="200">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<div class="app">
  <router-outlet></router-outlet>
</div>

