* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  font-family: "Poppins", sans-serif;
  font-weight: 900;

  ::selection {
    background-color: #8e32f0;
    color: white;
  }
}

@media (max-width: 767px) {
  * {
    font-size: 14px;
  }
}

body,
html {
  &.scroll-lock {
    overflow: hidden;
    height: 100vh;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "tofino", Helvetica, sans-serif;
  transition: color ease-in 0.3s;

  &:hover {
    color: rgba(black, 0.7);
  }

  &:visited {
    color: black;
  }
}
